@font-face {
    font-family: 'TitilliumWeb-Black';
    src: local('TitilliumWeb-Black'), url(../../fonts/TitilliumWeb-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: local('OpenSans-Regular'), url(../../fonts/OpenSans-Regular.ttf) format('truetype');
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section 
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, rgb(0, 0, 0), transparent);
    z-index: 1000;
}

.shadow
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, rgb(0, 0, 0) 60%, transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    object-fit: cover;
    /* pointer-events: none; */
}

h2
{
    font-family: 'OpenSans-Regular';
    font-size: 5rem;
    text-align: center;
    /* margin-top: 10%; */
}

.name
{
    color: #00A2FF;
}

.scrollBegin
{
    background: linear-gradient(to bottom, #EBEFEF 60%, transparent);
}
