body
{
    /* overflow: hidden; */
    margin: 0px;
    padding: 0px;
    background-color: #EBEFEF;
}

header
{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 10px 24px;
    box-sizing: border-box;
    background: #111;
    /* color: white !important; */
}

header .menu-btn, .logo
{
    font-size: 30px;
    z-index: 100;
    cursor: pointer;
}

.menu-container
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #111;
    color: white !important;
    z-index: 15;
    display: flex;
    justify-content: flex-end;
}

.menu-container nav
{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 36px;
}

.menu-container nav > a
{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    margin: 10px 0px;
    font-weight: 900;
    font-weight: lighter;
}