@font-face {
  font-family: "OpenSans-Regular";
  src: local("OpenSans-Regular"),
    url(../../fonts/OpenSans-Regular.ttf) format("truetype");
}

body {
  /* overflow: hidden; */
  margin: 0px;
  padding: 0px;
  background-color: #ebefef;
}

.fill {
  /* width: 100vw; */
  height: 10vh;
  z-index: 100;
  padding-top: 2vh;
  padding-right: 2vw;

  display: flex;
  justify-content: flex-end;
}

ul {
  list-style: none;
}

li {
  font-family: "OpenSans-Regular";
  font-size: 1.3em;
  float: left;
}

li a {
  text-align: center;
  padding: 16px;
  color: black;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

a:hover {
  background-color: rgba(30, 30, 30, 0.868);
  color: rgb(255, 255, 255);
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  font-size: larger;
  border-radius: 5px;
}
