@font-face {
    font-family: 'OpenSans-Regular';
    src: local('OpenSans-Regular'), url(../../fonts/OpenSans-Regular.ttf) format('truetype');
}

body
{
    /* overflow: hidden; */
    margin: 0px;
    padding: 0px;
    background-color: #EBEFEF;
}

.navigation-bar {
    /* width: 100vw; */
    height: 10vh;
    display: flex;
    z-index: 100;
    justify-content: flex-end;

    padding-top: 2vh;
}

ul
{
    list-style: none;
}

li
{
    font-family: 'OpenSans-Regular';
    font-size: 1.3em;
    float: left;
}

li a
{
    text-align: center;
    padding: 16px;
    color: black;
    text-decoration: none;
}